.notesbox{
	position: absolute;
	display:inline-block;
	width: 30%;
	border: 1px solid black;
}
#notes{
	display:inline-block;
	width: 100%;
	height: 30vw;
}
.links{
	display:inline-block;
	position:absolute;
	left:0;
	bottom:0;
	font-family:Arial;
	text-align:center;
	opacity:0.8;
	width: 100%;
	height: 15%;
	background-image: -webkit-linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	background-image: -moz-linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	background-image: linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	border: 1px solid black;
	border-top:none;
	border-left:none;
	text-decoration: underline;
}
img{
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
/*
iframe{
	position: absolute;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	-webkit-transform: scale(0.29);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.29);
  -moz-transform-origin: 0 0;
  transform: scale(0.29);
  transform-origin: 0 0;
}*/