.notesbox{
	position: absolute;
	display:inline-block;
	width: 30%;
	border: 1px solid black;
	cursor: pointer;
}
#notes{
	display:inline-block;
	width: 100%;
	height: 30vw;
}
h1{
	background-color: rgba(255,255,0,0.6);
	border-radius: 10%;
	display: inline-block;
}
#back{
	background-image: url(../images/lines.png) repeat-y fixed;
	background-size:100% 4%;
	position:absolute;
	top:4%;
	width:100%;
	display:inline-block;
	height:96%;
	left:0;
}
body{
	background-color:yellow;
}
.links{
	display:inline-block;
	position:absolute;
	left:0;
	bottom:0;
	font-family:Arial;
	text-align:center;
	opacity:0.8;
	width: 100%;
	height: 15%;
	background-image: -webkit-linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	background-image: -moz-linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	background-image: linear-gradient(top, rgb(245,245,245), rgb(200,200,200));
	border: 1px solid black;
	border-top:none;
	border-left:none;
	text-decoration: underline;
}
img{
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
/*
iframe{
	position: absolute;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	-webkit-transform: scale(0.29);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.29);
  -moz-transform-origin: 0 0;
  transform: scale(0.29);
  transform-origin: 0 0;
}*/
